<h3 class="title"><%= l(:field_possible_values) %></h3>

<%= form_for(:enumerations,
             :url => project_update_custom_field_enumerations_path(@project, custom_field_id: @custom_field.id),
             :remote => true,
             :method => :put) do |f| %>

  <% @custom_field.enumerations.active.each do |item| %>

    <%= f.check_box "#{item.id}", {checked: @disabled_enumeration_ids.exclude?(item.id), label: item.to_s} %>
    <%= f.label "#{item.id}", item.to_s %>
    <br>

  <% end %>

  <p class="buttons">
    <%= submit_tag l(:button_save) %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>

<% end %>
