<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[warning_message_on_closed_issues]", '1', Setting["plugin_redmine_tiny_features"]["warning_message_on_closed_issues"] %>
    <%= l("setting_warning_message_on_closed_issues") %>
  <% end %>
</p>
<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[open_issue_when_editing_closed_issues]", '1', Setting["plugin_redmine_tiny_features"]["open_issue_when_editing_closed_issues"] %>
    <%= l("setting_open_issue_when_editing_closed_issues") %>
  <% end %>
</p>
<p>
  <%= label_tag l("default_open_status") %>
  <%= select_tag "settings[default_open_status]", options_for_select(IssueStatus.where(is_closed: false).sorted.map { |status| [status.name, status.id] },
                                                                     selected: Setting["plugin_redmine_tiny_features"]["default_open_status"]) %>
</p>

<hr>

<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[simplified_version_form]", '1', Setting["plugin_redmine_tiny_features"]["simplified_version_form"] %>
    <%= l("setting_simplified_version_form") %>
  <% end %>
</p>

<hr>

<p>
  <%= label_tag l("default_project") %>
  <%= select_tag "settings[default_project]", project_tree_options_for_select(Project.all_public.active.sorted,
                                                                              selected: Project.where(id: Setting["plugin_redmine_tiny_features"]["default_project"]).first) %>
</p>

<hr>
<% if Redmine::Plugin.installed?(:redmine_base_select2) %>
<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[use_select2]", '1', Setting["plugin_redmine_tiny_features"]["use_select2"], :onclick=>"hidePagination()" %>
    <%= l("setting_use_select2") %>
  <% end %>
</p>

<!-- Add this parameter, because there are tests for available_filters in redmine core -->
<p id="paginate_issue_filters_values">
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[paginate_issue_filters_values]", '1', Setting["plugin_redmine_tiny_features"]["paginate_issue_filters_values"] %>
    <%= l("setting_paginate_issue_filters_values") %>
  <% end %>
</p>
<% end %>

<!-- Added this parameter in order to disable note deletion journalization and do not break core test (JournalsControllerTest#test_update_xhr_with_empty_notes_should_delete_the_journal in redmine core) -->
<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[journalize_note_deletion]", '1', Setting["plugin_redmine_tiny_features"]["journalize_note_deletion"] %>
    <%= l("setting_journalize_note_deletion") %>
  <% end %>
</p>


<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[disable_email_hiding]", '1', Setting["plugin_redmine_tiny_features"]["disable_email_hiding"] %>
    <%= l("setting_disable_email_hiding") %>
  <% end %>
</p>

<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[load_issue_edit_form_asynchronously]", '1', Setting["plugin_redmine_tiny_features"]["load_issue_edit_form_asynchronously"] %>
    <%= l("setting_load_issue_edit_form_asynchronously") %>
  <% end %>
</p>

<p>
  <%= label_tag '', { style: 'width: auto;' } do %>
    <%= check_box_tag "settings[hide_members_section_on_project_overview]", '1', Setting["plugin_redmine_tiny_features"]["hide_members_section_on_project_overview"] %>
    <%= l("hide_members_on_project_overview") %>
  <% end %>
</p>

<%= javascript_tag do %>
  $(function() {
    if ((typeof $().select2) === 'function') {
        $('#settings_default_project').select2();
    }
  });

  // Avoid to activate pagination if select2 is not active
  function hidePagination(){
    paginationObject = $('#paginate_issue_filters_values input')[0]
    paginationLabel = $('#paginate_issue_filters_values label')[0]
    select2Checked = $('#settings_use_select2')[0].checked

    if(!select2Checked){
      paginationObject.checked = false
      paginationObject.disabled = true
      paginationLabel.classList.add("disabled-settings-redmine-tiny-features")

    } else {
      paginationObject.disabled = false
      paginationLabel.classList.remove("disabled-settings-redmine-tiny-features")
    }
  }

  // Add to disabled option pagination when select2 option is not checked when the page is launched
  hidePagination()
<% end %>
